<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Authentication Tutorial!</h1>
  <p class="lead">Let's learn how to do authentication with node.</p>
  <p><a class="btn btn-lg btn-default" href="#" role="button">Get started today</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
<div class="col-lg-4">
  <h2>Heading</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem maiores doloremque sapiente, ipsam explicabo alias voluptatum asperiores aperiam vero laboriosam iure deserunt necessitatibus!</p>
  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div>
<div class="col-lg-4">
  <h2>Heading</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error consectetur deleniti, voluptatum eaque fugiat laborum ab magni esse qui hic suscipit maxime aperiam sint provident?</p>
  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div>
<div class="col-lg-4">
  <h2>Heading</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, amet nesciunt impedit debitis veniam explicabo autem repellat delectus ut animi quas nobis eum, voluptatum temporibus consequuntur odit!</p>
  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div>
</div>